html {
    height: 100%;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h2,
h3 {
    font-family: 'Arimo', "Helvetica", sans-serif;
}

h2 {
    font-size: 1.3em;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    margin: 0.5em 0;
}

h3 {
    font-size: 1.2em;
}

.btn-common {
    background: #8DC551;
    color: #ffffff;
    padding: 10px 50px;
}

.btn-common-shadow {
    box-shadow: 0 5px 6px #b9b9b9;
}

.btn:hover {
    color: #F5F5F5;
}

body {
    font-family: 'Roboto', "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    background: #FFF;
    position: relative;
    min-height: 100%;
    background-image: url('../../images/page-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.font-2em {
    font-size: 2em;
}

.font-1-5em {
    font-size: 1.5em;
}

.font-2-5em {
    font-size: 2.5em;
}

.font-3em {
    font-size: 3em;
}

.font-3-5em {
    font-size: 3.5em;
}

.font-bold {
    font-weight: bold;
}

.bg-color-df {
    background-color: #dfdfdf;
}

.bg-color-white {
    background-color: #fff;
}

.color-white {
    color: #fff;
}

.color-dark-gray {
    color: #e4e4e4;
}

.color-gray-a7 {
    color: #a7a7a7;
}

.color-gray-58 {
    color: #585858;
}

.color-gray-4 {
    color: #444;
}

.common-header {
    height: 100px;
    padding: 20px 0;
}

.common-header .logo {
    height: 60px;
    display: inline-block;
    margin-bottom: 5px;
}

.common-header .nav {
    margin-top: 30px;
}

.common-header .nav li a, span {
    color: #929292;
    font-weight: 900;
}

.common-header .nav li a {
    padding: 0 15px;
    border-radius: 0;
    display: inline-block;
}

.common-header .nav li a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.common-header .main-title {
    font-size: 30px;
    color: #6E6F76;
    letter-spacing: 2px;
    display: inline-block;
}

.common-section {
    position: relative;
    padding: 4em;
}

.flex-vertical-center {
    display: flex;
    align-items: center;
}

a:hover {
    text-decoration: none;
}

.top-section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 300px 0;
}

.top-section::before {
    content: '';
    box-shadow: 0 40px 0px #1c6700 inset;
    opacity: 0.6;
    height: 40px;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
}

.common-section.info {
    background-color: rgba(119, 189, 67, .8);
}

.container > p {
    width: 800px;
    max-width: 100%;
    margin: 0 auto 2em;
}

.common-section-title {
    margin: 0 0 2em;
}

.cover-top {
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px #8e8e8e;
    padding: 3em;
}

.accept_terms {
    position: relative;
    vertical-align: middle;
    height: 1em !important;
}

.accept_terms:before {
    margin-top: -5px;
    border-radius: 2px;
    font: normal normal normal 14px/1 FontAwesome;
    text-align: center;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #fff;
    display: block;
    color: #fff;
    border: 1px solid #888;
}

.accept_terms:checked:before {
    content: '\f00c';
    padding: 2px;
    color: #888;
}

.btn-common {
    background-color: #77bd43;
    color: white;
    padding: 0.4em 2em;
    border-radius: 11px;
    font-size: 1.5em;
}

.inquiries-info {
    padding-right: 2em;
}

.inquiries-info > * {
    padding: 1em 0;
}

.inquiries-info-list li {
    list-style: none;
    position: relative;;
}

.inquiries-info-list li * {
    padding-left: 2em;
}

.inquiries-info-list li::before {
    position: absolute;
    content: '';
    width: .8em;
    left: .5em;
    display: inline-block;
    border-top: .5em solid transparent;
    border-bottom: .5em solid #7fbd50;
}

.sub-section {
    margin: .5em 0;
    padding: 2em 0;
}

.inquiries-form {
    padding: 3em 2em;
}

.form-control {
    margin-bottom: 10px;
    padding: 12px 24px;
    border-radius: 8px;
    height: 46px;
}

.common-footer {
    background-color: #454545;
}

.common-footer .footer-title {
    text-align: center;
    padding: 20px 0;
    background-color: #7FBD50;
    color: #454545;
}

.common-footer .footer-content {
    padding: 2% 10%;
}

.common-footer .footer-content h4 {
    margin-top: 0;
}

.common-footer .footer-content .fa {
    margin-right: 15%;
}

.common-footer .footer-content .description {
    height: 80px;
}

.common-footer .footer-content a {
    height: 80px;
    font-weight: 900;
}

.common-footer .footer-content .copyright {
    font-size: 20px;
    margin-top: 5%;
}

.common-footer .footer-content .footer-content-list {
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    padding-right: 0;
}

@media (min-width: 1200px) {
    .cover-top {
        margin-top: -6em;
    }
}

@media (max-width: 1260px) {
    .common-footer .footer-content .description {
        height: 130px;
    }
}

@media (max-width: 992px) {
    .common-footer .footer-content .description {
        height: 170px;
    }
}

@media (max-width: 768px) {
    .common-footer .footer-content .description {
        height: 45px;
    }

    .common-footer .footer-content h4 {
        margin-top: 20px;
    }
}