.result-content {
    margin-top: 240px;
    height: 100%;
}
.result-content .panel-heading {
    padding: 0;
}
.result-content .panel-group:hover,
.result-content .panel-group:focus {
    color: #464646;
}
.result-content .result-lists {
    background-color: #ffffff;
    box-shadow: 0 6px 5px #afadad;
    margin-top: 3%;
}
.result-content .result-lists:hover,
.result-content .result-lists:focus {
    color: #464646;
}
.result-content .result-lists .portrait {
    padding: 15px;
}
.result-content .result-lists .person-info {
    margin-top: 60px;
}
.result-content .result-lists .person-info .glyphicon {
    cursor: pointer;
    float: right;
}
.result-content .result-lists .person-info .glyphicon:hover {
    color: #307BBB;
}
.result-content .result-lists .person-info h1 {
    text-align: left;
    text-transform: capitalize;
}
.result-content .result-lists .person-info .summary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.result-content .result-lists .person-info .summary-detail {
    white-space: normal;
}
.result-content .result-lists .person-info a {
    word-wrap: break-word;
}
.result-content .result-lists .percent {
    padding: 15px;
}
.result-content .result-lists .percent .c100 {
    top: 20px;
}
.result-content .list-menu {
    padding: 10px 0;
    box-shadow: 0 1px 10px #b9b9b9;
}
.result-content .list-menu .glyphicon-align-justify {
    cursor: pointer;
}
.result-content .list-menu .glyphicon-align-justify:hover {
    color: #307BBB;
}
.result-content .panel-title:hover,
.result-content .panel-title:focus {
    border: none;
}
.result-content .panel-title .accordion-toggle {
    outline: none;
}
.result-content .panel-collapse {
    background-color: #F2F2F2;
    padding: 0 16px;
}
.result-content .accordion-menu .glyphicon-align-justify {
    cursor: pointer;
}
.result-content .accordion-menu .glyphicon-align-justify:hover {
    color: #307BBB;
}
.result-content .addition-link {
    padding: 20px 0;
    border-top: 1px #333 dashed;
}
.result-content .addition-link a {
    word-wrap: break-word;
}
.result-content .influence-img img {
    width: 100%;
}
.result-pagination {
    text-align: center;
    margin: 8% 0;
}

.result-pagination .btn-pagination {
    background-color: #464446;
    color: #FFFFFF;
    font-weight: 900;
    width: 15%;
}

@media screen and (max-width: 992px) {
    .result-content .percent .c100 {
        top: 0px !important;
    }
}
@media screen and (max-width: 768px) {
    .result-content .portrait {
        text-align: center;
    }
    .result-content .person-info {
        margin-top: 0 !important;
    }
    .result-content .percent {
        padding-bottom: 30px !important;
    }
    .result-content .percent .c100 {
        top: 20px;
        margin: 0 auto;
        float: none;
    }
}
