.fi-search-header{
    background-image: url('../../img/search-header.jpg');
}

.influence-description {
    margin-top: 5%;
    padding: 0 8%;
}
.influence-description h2 {
    font-size: 35px;
}

.fi-search-form {
    text-align: center;
    padding: 6% 15%;
}

.fi-search-form  .form-control{
    border-radius: 5px;
    height: 45px;
    border: none;
    background-color: #ECEAEC;
}

.fi-search-form .btn-search {
    background-color: #464446;
    color: #FFFFFF;
    font-weight: 900;
}