.student-portal {
    background-image: url(../../images/student_portal_header.jpg);
}

.school-service {
    background-image: url(../../images/schoole_service_header.jpg);
}

.parent-portal {
    background-image: url(../../images/parent_portal_header.jpg);
}

img {
    width: 100%;
}

.auto-width {
    width: auto;
}

.person-detail {
    line-height: 1.5em;
    max-height: 4.5em;
    overflow: hidden;
}

.color-gray-98 {
    color: #989898;
}

.color-green {
    color: #7fbd50;
}

.know form {
    padding: 2em;
}

.know .form-control {
    display: inline-block;
    width: 40%;
}

.submit-know {
    background-color: #454545;
    box-shadow: 0 3px 10px #454545;
    padding: 12px 24px;
}

.base-info > .row {
    margin: 3em;

}

.section-splite {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #222;
}

.split-school-service img {
    width: 30%;
}

.form-control {
    width: 500px;
    max-width: 100%;
    display: inline-block;
}

a.carousel-control, a.carousel-control:hover, a.carousel-control:focus, a.carousel-control:active {
    background: transparent none !important;
}

.carousel-control .glyphicon-chevron-right::before {
    content: '\e250';
}

.carousel-control .glyphicon-chevron-left::before {
    content: '\e251';
}

.carousel-inner {
    width: 70%;
    margin: 0 auto;
}