.home-page-header{
    background-image: url('../../images/home_page.jpg');
}
.home-page-item {
    text-align: center;
    height: 150px;
}

.home-page-item-btn {
    margin: 25px 0;
}
.home-page-item .description {
    margin-bottom: 20px;
}

 .advertise{
    border-right: 2px solid #bfbfbf;
    text-align: center;
}

.advertise h2{
   text-align: left;
}

 .advertise img{
    width: 100%;
    margin-top: 20px;
}

.advertise a{
    float: left;
    color: #8DC551;
    font-weight: 900;
}

 .advertise:last-child {
    border-right: none;
}