
.margin-bottom-1-5em{
    margin-bottom: 1.5em;
}

.margin-top-1-5em{
    margin-top: 1.5em;
}

.no-border{
    border:none;
}

.no-bold{
    font-weight:100;
}


.panel-form input[type=radio], input[type=checkbox]{
    margin-top:0;
    margin-right: 1.5em;
}

h3,h2{
    color: #585858;
    font-weight:bold;
}
/*common end*/

.lp-content {
    letter-spacing: 1px;
}

/*section1 start*/
.section1 {
    height:1200px;
    position: relative;
}

.bg-blog-head{
    background-image: url("../../images/bg-blog-head.jpg");
}

.bg-parent-head{
    background-image: url("../../images/bg-parent-head.jpg");
}

.bg-school-head{
    background-image: url("../../images/bg-school-head.jpg");
}

.section1 h1{
    font-size: 4.5em;
    position: absolute;
    bottom: 300px;
}
/*section1 end*/

/*section2 start*/
.section2{
    width:76%;
    margin:0 auto;
}

.section2 .introduction{

    padding: 150px 0;

    border-bottom: 2px solid #444;
}

.section2 .promote{
    padding: 100px 0;
}

.section2 h2,.section2 h3{
    margin-bottom: 0.8em;
}

.section2 .promote-part{
    padding: 0 45px;
}
/*section2 end*/


/*section3 start*/
.section3 h3{
    margin-top:50px;
}

.section3-panel .panel{
    padding: 100px 0;
    border-radius: 0;
    margin:0;
}

.panel-parent-p{
    display: inline-block;
    width: 75%;
    font-size: 1.3em;
}

.panel-form{
    display: inline-block;
    width: 83%;
    margin-top:100px;
}

.panel-form .select {
    -webkit-appearance: button;
    -moz-appearance: none;
    text-indent: 1px;
    -webkit-user-select: none;
    cursor: pointer;
    background: url(../../images/icon-selectbox.jpg) no-repeat right center;
    padding-right: 25px;
    background-position-x: 95%;
}

.panel-form .form-control{
    height:3.5em;
    margin-bottom: 1.5em;
    padding: 0 40px;
    font-size: 1.3em;
    border-radius: 12px;

}

.panel-form .accept_line{
    margin: 50px 0;
}
/*section3 end*/

@media (min-width: 1200px) {
    .section3-panel{
        box-shadow: 2px 4px 5px rgb(200,200,200);
        width: 650px;
        max-width: 35%;
        position: absolute;
        top: 17%;
        right: 5%;
    }
}

@media (max-width: 1200px){
    .section3-panel .panel-form{
        max-width:50%;

    }
}