<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-title" content="Fi Results">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>Fi Results</title>
    <link rel="fluid-icon" href="EA_logo.png" title="Fi Results">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="img/EA_logo-57x57.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/EA_logo-72x72.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/EA_logo-114x114.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/EA_logo-144x144.png"/>
    <link rel="stylesheet" href="stylesheets/libs/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/libs/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/libs/publicFont.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/app/circle.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/app/fiSearch.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/app/fiResults.css" type="text/css"/>
    <link rel="stylesheet" href="stylesheets/app/common.css">
</head>
<body>
<header class="common-header container">
    <div class="clearfix">
        <a href="/" title="Education Axis" class="col-md-5">
            <img class="logo" src="img/logo_bar.png" alt="Education Axis">
        </a>
        <ul class="nav nav-pills col-md-7">
            <li role="presentation"><a href="#">HOME</a><span>|</span></li>
            <li role="presentation"><a href="#">CURRICULUM</a><span>|</span></li>
            <li role="presentation"><a href="#">SCHOOL SERVICES</a><span>|</span></li>
            <li role="presentation"><a href="#">FIND INFLUENCERS</a><span>|</span></li>
            <li role="presentation"><a href="#">LOG IN</a></li>
        </ul>
    </div>
</header>
<div class="common-section top-section fi-search-header container text-center">
    <h1 class="color-white">FIND INFLUENTIAL ACADEMICS IN ANY FIELD.</h1>
    <p class="color-gray-a7">Research made easy: search any topic, find the influencer, and inform your studies from the best.</p>
</div>
<div class="common-section">
    <div class="container result-content cover-top">
       <h2 class="text-center">Search Results</h2>
        <uib-accordion close-others="true">
            <uib-accordion-group is-open="status.open" template-url="group-template.html">
                <uib-accordion-heading>
                    <div class="result-lists hidden-sm hidden-xs clearfix">
                        <div class="portrait col-md-2">
                            <img alt="portrait" src="img/Aaron.png"/>
                        </div>
                        <div class="person-info col-md-7 clearfix">
                            <h1 class="col-md-12">Aaron Linne</h1>
                            <p class="summary col-md-11" ng-class="{'summary-detail': resultList.summaryDetail}">CEO, Lineage Media and Solutions</p>
                            <i class="col-md-1" ng-class="{'glyphicon glyphicon-chevron-right': !resultList.summaryDetail, 'glyphicon glyphicon-chevron-down': resultList.summaryDetail}" ng-click="$event.stopPropagation();resultList.summaryDetail = !resultList.summaryDetail"></i>
                            <p class="col-md-12"><a target="view_window" ng-click="$event.stopPropagation()" ng-href="http://www.colby.edu/directory/profile/hideko.abe/" ng-bind="http://www.colby.edu/directory/profile/hideko.abe/"></a></p>
                        </div>
                        <div class="percent col-md-3">
                            <div class="c100 p77">
                                <span>77%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="result-lists visible-sm clearfix">
                        <div class="portrait col-sm-3">
                            <img alt="portrait" src="img/Aaron.png"/>
                        </div>
                        <div class="person-info col-sm-9 clearfix">
                            <h1 class="col-sm-12">Aaron Linne</h1>
                            <p class="summary col-sm-11" ng-hide="resultList.summaryDetail" ng-class="{'summary-detail': resultList.summaryDetail}">CEO, Lineage Media and Solutions</p>
                            <i class="col-sm-1" ng-class="{'glyphicon glyphicon-chevron-right': !resultList.summaryDetail, 'glyphicon glyphicon-chevron-down': resultList.summaryDetail}" ng-click="$event.stopPropagation();resultList.summaryDetail = !resultList.summaryDetail"></i>
                            <div class="col-sm-12 clearfix" ng-show="resultList.summaryDetail">
                                <div class="col-sm-9">
                                    <p ng-bind="CEO, Lineage Media and Solutions"></p>
                                    <p><a target="view_window" ng-click="$event.stopPropagation()" ng-href="http://www.colby.edu/directory/profile/hideko.abe/" ng-bind="http://www.colby.edu/directory/profile/hideko.abe/"></a></p>
                                </div>
                                <div class="percent col-sm-3">
                                    <div class="c100 p77">
                                        <span>77%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="col-sm-12" ng-hide="resultList.summaryDetail"><a target="view_window" ng-click="$event.stopPropagation()" ng-href="{{resultList.anchor}}" ng-bind="resultList.anchor"></a></p>
                        </div>
                    </div>
                    <div class="result-lists visible-xs clearfix">
                        <div class="portrait">
                            <img alt="portrait" src="img/Bill.png"/>
                        </div>
                        <div class="person-info clearfix">
                            <h1 class="col-xs-12" ng-bind="Aaron Linne"></h1>
                            <p class="summary col-xs-9" ng-hide="resultList.summaryDetail">CEO, Lineage Media and Solutions</p>
                            <i class="col-xs-2" ng-class="{'glyphicon glyphicon-chevron-right': !resultList.summaryDetail, 'glyphicon glyphicon-chevron-down': resultList.summaryDetail}" ng-click="$event.stopPropagation();resultList.summaryDetail = !resultList.summaryDetail"></i>
                            <div class="clearfix" ng-show="resultList.summaryDetail">
                                <div class="col-xs-12">
                                    <p ng-bind="CEO, Lineage Media and Solutions"></p>
                                </div>
                                <div class="percent col-xs-12">
                                    <div class="c100 p77">
                                        <span>77%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <p><a target="view_window" ng-click="$event.stopPropagation()" ng-href="http://www.colby.edu/directory/profile/hideko.abe/" ng-bind="http://www.colby.edu/directory/profile/hideko.abe/"></a></p>
                                </div>
                            </div>
                            <p ng-hide="resultList.summaryDetail" class="col-xs-12 summary"><a target="view_window" ng-click="$event.stopPropagation()" ng-href="http://www.colby.edu/directory/profile/hideko.abe/" ng-bind="http://www.colby.edu/directory/profile/hideko.abe/"></a></p>
                        </div>
                    </div>
                    <div class="text-center list-menu" ng-hide="status.open">
                        <span class="glyphicon glyphicon-align-justify" ng-click="$parent.toggleOpen();status.open"></span>
                    </div>

                    <!--demo-->

                    <div class="result-lists hidden-sm hidden-xs clearfix">
                        <div class="portrait col-md-2">
                            <img alt="portrait" src="img/Bill.png"/>
                        </div>
                        <div class="person-info col-md-7 clearfix">
                            <h1 class="col-md-12">Bill Dembski</h1>
                            <p class="summary col-md-11" ng-class="{'summary-detail': resultList.summaryDetail}">American Mathmatician</p>
                            <i class="col-md-1" ng-class="{'glyphicon glyphicon-chevron-right': !resultList.summaryDetail, 'glyphicon glyphicon-chevron-down': resultList.summaryDetail}" ng-click="$event.stopPropagation();resultList.summaryDetail = !resultList.summaryDetail"></i>
                            <p class="col-md-12"><a target="view_window" ng-click="$event.stopPropagation()" ng-href="http://www.colby.edu/directory/profile/hideko.abe/" ng-bind="http://www.colby.edu/directory/profile/hideko.abe/"></a></p>
                        </div>
                        <div class="percent col-md-3">
                            <div class="c100 p77">
                                <span>77%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="result-lists visible-sm clearfix">
                        <div class="portrait col-sm-3">
                            <img alt="portrait" src="img/Paul.png"/>
                        </div>
                        <div class="person-info col-sm-9 clearfix">
                            <h1 class="col-sm-12">Aaron Linne</h1>
                            <p class="summary col-sm-11" ng-hide="resultList.summaryDetail" ng-class="{'summary-detail': resultList.summaryDetail}">CEO, Lineage Media and Solutions</p>
                            <i class="col-sm-1" ng-class="{'glyphicon glyphicon-chevron-right': !resultList.summaryDetail, 'glyphicon glyphicon-chevron-down': resultList.summaryDetail}" ng-click="$event.stopPropagation();resultList.summaryDetail = !resultList.summaryDetail"></i>
                            <div class="col-sm-12 clearfix" ng-show="resultList.summaryDetail">
                                <div class="col-sm-9">
                                    <p ng-bind="CEO, Lineage Media and Solutions"></p>
                                    <p><a target="view_window" ng-click="$event.stopPropagation()" ng-href="http://www.colby.edu/directory/profile/hideko.abe/" ng-bind="http://www.colby.edu/directory/profile/hideko.abe/"></a></p>
                                </div>
                                <div class="percent col-sm-3">
                                    <div class="c100 p77">
                                        <span>77%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="col-sm-12" ng-hide="resultList.summaryDetail"><a target="view_window" ng-click="$event.stopPropagation()" ng-href="{{resultList.anchor}}" ng-bind="resultList.anchor"></a></p>
                        </div>
                    </div>
                    <div class="result-lists visible-xs clearfix">
                        <div class="portrait">
                            <img alt="portrait" src="img/Paul.png"/>
                        </div>
                        <div class="person-info clearfix">
                            <h1 class="col-xs-12" ng-bind="Aaron Linne"></h1>
                            <p class="summary col-xs-9" ng-hide="resultList.summaryDetail">CEO, Lineage Media and Solutions</p>
                            <i class="col-xs-2" ng-class="{'glyphicon glyphicon-chevron-right': !resultList.summaryDetail, 'glyphicon glyphicon-chevron-down': resultList.summaryDetail}" ng-click="$event.stopPropagation();resultList.summaryDetail = !resultList.summaryDetail"></i>
                            <div class="clearfix" ng-show="resultList.summaryDetail">
                                <div class="col-xs-12">
                                    <p ng-bind="CEO, Lineage Media and Solutions"></p>
                                </div>
                                <div class="percent col-xs-12">
                                    <div class="c100 p77">
                                        <span>77%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <p><a target="view_window" ng-click="$event.stopPropagation()" ng-href="http://www.colby.edu/directory/profile/hideko.abe/" ng-bind="http://www.colby.edu/directory/profile/hideko.abe/"></a></p>
                                </div>
                            </div>
                            <p ng-hide="resultList.summaryDetail" class="col-xs-12 summary"><a target="view_window" ng-click="$event.stopPropagation()" ng-href="http://www.colby.edu/directory/profile/hideko.abe/" ng-bind="http://www.colby.edu/directory/profile/hideko.abe/"></a></p>
                        </div>
                    </div>
                    <div class="text-center list-menu" ng-hide="status.open">
                        <span class="glyphicon glyphicon-align-justify" ng-click="$parent.toggleOpen();status.open"></span>
                    </div>

                    <!--demo-->

                    <div class="result-lists hidden-sm hidden-xs clearfix">
                        <div class="portrait col-md-2">
                            <img alt="portrait" src="img/Paul.png"/>
                        </div>
                        <div class="person-info col-md-7 clearfix">
                            <h1 class="col-md-12">Paul Mikos</h1>
                            <p class="summary col-md-11" ng-class="{'summary-detail': resultList.summaryDetail}">COO, Lineage Media and Solutions</p>
                            <i class="col-md-1" ng-class="{'glyphicon glyphicon-chevron-right': !resultList.summaryDetail, 'glyphicon glyphicon-chevron-down': resultList.summaryDetail}" ng-click="$event.stopPropagation();resultList.summaryDetail = !resultList.summaryDetail"></i>
                            <p class="col-md-12"><a target="view_window" ng-click="$event.stopPropagation()" ng-href="http://www.colby.edu/directory/profile/hideko.abe/" ng-bind="http://www.colby.edu/directory/profile/hideko.abe/"></a></p>
                        </div>
                        <div class="percent col-md-3">
                            <div class="c100 p77">
                                <span>77%</span>
                                <div class="slice">
                                    <div class="bar"></div>
                                    <div class="fill"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="result-lists visible-sm clearfix">
                        <div class="portrait col-sm-3">
                            <img alt="portrait" src="img/Paul.png"/>
                        </div>
                        <div class="person-info col-sm-9 clearfix">
                            <h1 class="col-sm-12">Aaron Linne</h1>
                            <p class="summary col-sm-11" ng-hide="resultList.summaryDetail" ng-class="{'summary-detail': resultList.summaryDetail}">CEO, Lineage Media and Solutions</p>
                            <i class="col-sm-1" ng-class="{'glyphicon glyphicon-chevron-right': !resultList.summaryDetail, 'glyphicon glyphicon-chevron-down': resultList.summaryDetail}" ng-click="$event.stopPropagation();resultList.summaryDetail = !resultList.summaryDetail"></i>
                            <div class="col-sm-12 clearfix" ng-show="resultList.summaryDetail">
                                <div class="col-sm-9">
                                    <p ng-bind="CEO, Lineage Media and Solutions"></p>
                                    <p><a target="view_window" ng-click="$event.stopPropagation()" ng-href="http://www.colby.edu/directory/profile/hideko.abe/" ng-bind="http://www.colby.edu/directory/profile/hideko.abe/"></a></p>
                                </div>
                                <div class="percent col-sm-3">
                                    <div class="c100 p77">
                                        <span>77%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="col-sm-12" ng-hide="resultList.summaryDetail"><a target="view_window" ng-click="$event.stopPropagation()" ng-href="{{resultList.anchor}}" ng-bind="resultList.anchor"></a></p>
                        </div>
                    </div>
                    <div class="result-lists visible-xs clearfix">
                        <div class="portrait">
                            <img alt="portrait" src="img/Paul.png"/>
                        </div>
                        <div class="person-info clearfix">
                            <h1 class="col-xs-12" ng-bind="Aaron Linne"></h1>
                            <p class="summary col-xs-9" ng-hide="resultList.summaryDetail">CEO, Lineage Media and Solutions</p>
                            <i class="col-xs-2" ng-class="{'glyphicon glyphicon-chevron-right': !resultList.summaryDetail, 'glyphicon glyphicon-chevron-down': resultList.summaryDetail}" ng-click="$event.stopPropagation();resultList.summaryDetail = !resultList.summaryDetail"></i>
                            <div class="clearfix" ng-show="resultList.summaryDetail">
                                <div class="col-xs-12">
                                    <p ng-bind="CEO, Lineage Media and Solutions"></p>
                                </div>
                                <div class="percent col-xs-12">
                                    <div class="c100 p77">
                                        <span>77%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <p><a target="view_window" ng-click="$event.stopPropagation()" ng-href="http://www.colby.edu/directory/profile/hideko.abe/" ng-bind="http://www.colby.edu/directory/profile/hideko.abe/"></a></p>
                                </div>
                            </div>
                            <p ng-hide="resultList.summaryDetail" class="col-xs-12 summary"><a target="view_window" ng-click="$event.stopPropagation()" ng-href="http://www.colby.edu/directory/profile/hideko.abe/" ng-bind="http://www.colby.edu/directory/profile/hideko.abe/"></a></p>
                        </div>
                    </div>
                    <div class="text-center list-menu" ng-hide="status.open">
                        <span class="glyphicon glyphicon-align-justify" ng-click="$parent.toggleOpen();status.open"></span>
                    </div>
                </uib-accordion-heading>
            </uib-accordion-group>
        </uib-accordion>
        <div class="result-pagination" ng-hide="(!resultLists)||(resultLists.results.length===0)||(!resultLists.results)||(resultLists.currentPage===0&&resultLists.results.length<=10&&!resultLists.next)">
            <button class="btn btn-pagination btn-lg btn-common-shadow " ng-disabled="resultLists.currentPage===0"><b>< PREVIOUS</b></button>
            <button class="btn btn-pagination btn-lg btn-common-shadow " ng-disabled="!resultLists.next"><b>NEXT ></b></button>
        </div>
    </div>
</div>
<footer class="common-footer">
    <h2 class="footer-title color-white">EDUCATION|AXIS: FREEDOM TURNS ON EDUCATION</h2>
    <div class="clearfix footer-content color-dark-gray">
        <div class="col-sm-3">
            <p>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
            </p>
            <p class="copyright">788 11Oth Avenue NE, N-3103 Bellevue, WA 98004</p>
            <p class="copyright">&copy; Copyright EducationAxis 2016</p>
        </div>
        <div class="col-sm-7 footer-content-list">
            <div class="col-sm-4">
                <h4>STUDENTS</h4>
                <p class="description color-gray-a7">We offer courses in the subjects that you care about.</p>
                <a class="color-gray-a7" href="#">LEARN MORE ></a>
            </div>
            <div class="col-sm-4">
                <h4>PARTNERS</h4>
                <p class="description color-gray-a7">We offer courses your student will love and engage with.</p>
                <a class="color-gray-a7" href="#">LEARN MORE ></a>
            </div>
            <div class="col-sm-4">
                <h4>SCHOOL SERVICES</h4>
                <p class="description color-gray-a7">Start getting targeted, qualified leads for your school today.</p>
                <a class="color-gray-a7" href="#">LEARN MORE ></a>
            </div>
        </div>
        <div class="col-sm-2">
            <h4>FIND INFLUENCERS</h4>
            <p class="description color-gray-a7">Find influencers using our new tool from Influence Networks.</p>
            <a class="color-gray-a7" href="#">LEARN MORE ></a>
        </div>
    </div>
</footer>
</body>
</html>